
<nav class="navbar navbar-inverse" role="navigation" xmlns:th="http://www.thymeleaf.org">

        <ul class="nav navbar-nav">
            <li><a th:href="@{/}" class="active">Домой</a></li>
            <li><a th:href="@{/userInfo}">Юсер</a></li>
            <li><a th:href="@{/admin}">Админ</a></li>
            <li><a th:if="${#httpServletRequest.userPrincipal != null}" th:href="@{/logout}">Выйти</a></li>
        </ul>
</nav>