<div class="panel panel-default">
    <div class="panel-body"><h4>Профсоюзные организации</h4></div>
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">СамГУПС
            <span class="badge badge-primary badge-pill">1400</span></a>
        </li>
        <li><a href="#">ППО факультета СИТ
            <span class="badge badge-primary badge-pill">140</span></a>
        </li>
        <li><a href="#">ППО факультета ЭЖДЛ
            <span class="badge badge-primary badge-pill">80</span></a>
        </li>
        <li><a href="#">ППО факультета ЭУП
            <span class="badge badge-primary badge-pill">76</span></a>
        </li>
        <li><a href="#">ППО факультета СОДП
            <span class="badge badge-primary badge-pill">65</span></a>
        </li>
        <li><a href="#">ППО факультета ПСПМ
            <span class="badge badge-primary badge-pill">48</span></a>
        </li>
    </ul>
</div>