<nav class="navbar navbar-default" role="navigation" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <!-- Brand и toggle сгруппированы для лучшего отображения на мобильных дисплеях -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand">Система учета членов профсоюза</p>
        </div>

        <!-- Соберите навигационные ссылки, формы, и другой контент для переключения -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/unionmember}">На главную<span class="sr-only">(current)</span></a></li>
                <li><a href="#">Создать нового члена профсоюза</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Справочники <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/unionmember/naturalperson}">Физические лица</a></li>
                        <!-- <li><a th:href=@{/_naturalPerson}">Физические лица</a></li>-->
                        <li><a href="#">Дети</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/unionmember/department}">Подразделения</a></li>
                        <li><a href="#">Профсоюзные организации</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Образования</a></li>
                        <li><a href="#">Профессий</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Поиск члена профсоюза"/>
                </div>
                <button type="submit" class="btn btn-default">Поиск</button>
            </form>

            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Отчеты<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:if="${#httpServletRequest.userPrincipal != null}" th:href="@{/logout}">Выйти</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
