
<div class="panel panel-default">
    <div class="panel-body"><H4>Подразделения</H4></div>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="#">Факультет СИТ</a></li>
        <li><a href="#">Кафедра МАУТ </a></li>
        <li><a href="#">Кафедра страительства</a></li>
        <li><a href="#">Кафедра информатики</a></li>
    </ul>

</div>

