<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handing Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table class="table table-condensed">
    <thead>
    <tr>
        <th>ID</th>
        <th>news</th>
        <th>dataNews</th>
        <th>PhotoNews</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${news.getId()}"></td>
        <td th:text="${news.getNews()}"></td>
        <td th:text="${news.getNewsDate()}"></td>
        <td th:text="${news.getPhotoNews()}"></td>


    </tr>
    </tbody>
</table>

</body>
</html>