<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--  Подключаем  bootstraps -->
    <th:block th:include="elements/_bootstrap"></th:block>

    <title th:utext="${title}"></title>
</head>

<body>

<div class="page-header">
    <h1>Профком сотрудников СамГУПС</h1>
    <img src="logo_log.png" class="img-responsive" alt="Cinque Terre"/>
</div>

<!-- Include _menu.html -->
<th:block th:include="elements/_menu"></th:block>

<div class="col-sm-2">
    <div class="panel panel-default">
        <div class="panel-body">Новости по месяцам</div>
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
        </ul>

        <div class="panel-footer">Panel Footer</div>
    </div>
</div>
<div class="col-sm-8">

    <div th:each="DayBean : ${news}">
        <h4 class="media-heading" th:text="${DayBean.getHeadlineNews()}"></h4>
        <p th:text="${#dates.format(DayBean.getNewsDate(), 'dd-MMM-yyyy')}"></p>
      <div  th:utext="${DayBean.getNews()}"></div>
        <img th:each="photo: ${photos}" th:src="@{'/images/'+${photo.toString()}}" width="350" height="200"/>

    </div>


</div>


<div class="col-sm-2">

    <div class="well">
        <img src="logo_log.png" class="img-responsive" alt="Cinque Terre"/>
        <img src="prof-titul.png" class="img-responsive" alt="Cinque Terre"/>
    </div>

    <div class="well">
        <img src="logo_new.png" class="img-responsive" alt="Cinque Terre"/>

    </div>
</div>
<!--  Подключаем элемент  bootstrap для работы с js -->
<th:block th:include="elements/_bootstrapFooter"></th:block>
</body>
</html>