<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--  Подключаем  bootstraps -->
    <th:block th:include="elements/_bootstrap"></th:block>

    <title th:utext="${title}"></title>




</head>

<body>

<div class="page-header">
    <h1>Профком сотрудников СамГУПС</h1>

</div>

<!-- Include _menu.html -->
<th:block th:include="elements/_menu"></th:block>

<div class="col-sm-2">
    <div class="panel panel-default">
        <div class="panel-body">Новости по месяцам</div>
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
        </ul>

        <div class="panel-footer"></div>
    </div>
</div>
<div class="col-sm-8">

    <H2>Новости профсоюза</H2>

    <div class="media" th:each="DayBean1 : ${novost}">
        <div class="media-left">
            <!--   <img src="img_avatar1.png" class="media-object" style="width:120px"/>-->
            <img th:src="@{'/images/'+${DayBean1.getPhotoNews().get(0).getPhotoURL().toString()} }" class="media-object"
                 style=" width:220px"/>
        </div>
        <div class="media-body">
            <h4 class="media-heading" th:text="${DayBean1.getHeadlineNews()}"></h4>
            <p th:text="${DayBean1.getTheNewsInShort()}"></p>
            <p th:text="${#dates.format(DayBean1.getNewsDate(), 'dd-MMM-yyyy')}"></p>
            <a th:href="@{'/news/' + ${DayBean1.getId()}}">Прочитать полностью >>> </a>

        </div>
    </div>
    <nav aria-label="Page navigation ">
        <ul class="pagination">
            <li><a th:href="@{'/'}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li th:each="NumberPages : ${Pages}">
                <a th:href="@{'/' + ${NumberPages}} " th:text="${NumberPages+1}"></a>
            </li>
            <li>
                <a th:href="@{'/' + ${Pages.size()-1}} " aria-label="Next"> <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="col-sm-2">

    <div class="well">
        <img src="static/logo_log.png" class="img-responsive" alt="Cinque Terre"/>
        <img src="static/prof-titul.png" class="img-responsive" alt="Cinque Terre"/>
    </div>

    <div class="well">
        <img src="static/logo_new1.jpg" class="img-responsive" alt="Cinque Terre"/>

    </div>
</div>
<!--  Подключаем элемент  bootstrap для работы с js -->
<th:block th:include="elements/_bootstrapFooter"></th:block>
</body>
</html>